
<div class="fundo">
 <body>
    <form class="form" action="http://127.0.0.1:4200/users">
        <div class="card">
    <div class="card-top">
        <h2 class="PA">Painel de Controle</h2>
        <p class="PA">Gerencie seu negócio</p>
    </div>
    <div class="card-group">
     <label>Email</label>
     <input type="text" name="Email" placeholder="Digite seu Email">
    </div>
    <div class="card-group">
        <label>Senha</label>
        <input type="password" name="Senha" placeholder="Digite sua Senha">
       </div>
       <div class="card-group">
        <label><input type="checkbox">Lembre-me</label>
       </div>
       <div class="card-group">
     <button type="submit">ACESSAR</button>
       </div>
        </div>
    </form>
 </body>
  
</div>
