#borda{
    border-style: inset;
    background-color: #0375b8;
    border-color: black;  
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 20px;
    color:white;
    font-size: large;
    font-style: italic;
    
    
    
    
}

.sombra:hover{
    transition-property: all;
}



#fontes {
    color:white;
    font-style: italic;
    font-size: large;
}

.wrapper {
    display: grid;
    background-color: rgb(3, 2, 2);
    grid-auto-rows: 200px;
    grid-gap: 50px 100px;
  }

 
.button:hover{
    background-color: #4CAF50; /* Green */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
}



  .button {
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
    padding: 14px 40px;
    font-size: 16px;
    display:inline-block;
    font-style: italic;
    width: 250px;
    float:left;
    cursor:pointer;
    
}

.button:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(10px);
}

.grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'menu main main main right right'
      'menu footer footer footer footer footer';
    grid-gap: 10px;
    background-color: #16b874;
    padding: 10px;
  }

  .item1 { grid-area: header; }

  



  
 


