
<div  id="borda">
  
    <h1>ZG INVEST</h1>
    <br>
    <p>SEJA BEM VINDO A SUA CARTEIRA DE INVESTIMENTO!</p>
</div>

<div>
  <form class="form" action="ABCD3">
    <label>Informe o código da ação que deseja: </label>
    <input class="but-input" type='text' name='ABCD3' placeholder="ABCD3">
    <div>
      <button class="but-card" type="submit">Pesquisar</button>
        </div>
  </form>
</div>

  
<div id="fontes">
    <p>Abaixo será calculado e exibido os rendimentos em R$ e % respectivamente.</p>

</div>



<table>
  <tr>
    <th>Company</th>
  </tr>
  <tr *ngFor="let CrudServices of data">
    <td>{{CrudServices | json}}</td>
  </tr>
</table>


<div>
    <form>   
          
    </form>

   

</div>










