
<div  id="borda">
    <h1>Programa de estágio ZG</h1>
    <br>
    <p>Seja bem vindo a sua carteira de investimento!</p>
</div>

  
<div id="fontes">
    <p>Abaixo será calculado e exibido os rendimentos em R$ e % respectivamente.</p>
</div>

<div class="wrapper">
    <div class="grid-container">
        
    </div>
</div>


<div>
    <form>
        
        <input type="button" class="button" value="Calcular Rendimentos">
        
    </form>
</div>

<div>
    <form>
        
        <input type="button" class="button"   value="Limpar tela">
       
    </form>
</div>
